[2019-01-14 08:54] olexii4 opened #20 "Workspace API does not work properly"
After the last code cleanup for extensions/eclipse-che-theia-plugin-ext
https://github.com/eclipse/che-theia/commit/3f3e3cf9234e980f319e93c7b71386707a4fe051
workspace API does not work properly.

[code]

This code sends the request, then gets a response with status code 200, but 'const workspace' always returns undefined.

That is why the containers plugin is not working properly
![screenshot from

[2019-01-14 09:59] olexii4 opened #21 "Improvements for containers plugin"
Add some improvements to containers plugin:
- [x] add an option to display/hide all tooling containers.
- [x] add an option to display/hide workspace commands(che-task) per dev-container, execute a task in that container directly.
- [x] add an option to display/hide workspace env. variables and volumes if they exist.

[2019-01-14 10:07] vitaliy-guliy commented on #20
@olexii4 have just checked with the latest changes. Everything's working on my side.

[2019-01-14 10:22] vitaliy-guliy commented on #20
Containers plugin is also working.
![screenshot from 2019-01-14 12-21-28](https://user-images.githubusercontent.com/1655894/51107299-1220a100-17f7-11e9-88af-ec48ba039ac5.png)

[2019-01-14 11:45] olexii4 commented on #20
https://github.com/eclipse/che/pull/12417

[2019-01-14 11:56] olexii4 commented on #20
@vitaliy-guliy  You tested it locally with docker infrastructure.

[2019-01-15 13:34] AndrienkoAleksandr opened #22 "Container plugin view displays each time after page refresh"
Container plugin view displays each time after page refresh. Even if I close this panel after restart page it will be open again. It's a bit annoying behavior.

[2019-01-16 09:05] olexii4 opened #25 "Bug with an empty containers tree"
The empty containers tree. And it can happen periodically after restarting the current workspace.

Subtask/PR:
- [x] Fix a getWorkspace method for the container plugins.￼ https://github.com/eclipse/che-theia/pull/32.
- [x] Treeview api https://github.com/theia-ide/theia/issues/4122 duplicate of https://github.com/theia-ide/theia/issues/3907

[2019-01-17 10:40] AndrienkoAleksandr opened #29 "che-theia-terminal extension is broken with latest theia."
Latest theia introduced new terminal api parts, after that extension become broken with latest theia.

[2019-01-19 16:37] #20 closed

[2019-01-19 17:45] olexii4 commented on #25
Add logs and see sometimes an empty tree after workspace starting, in the case when process.env.CHE_MACHINE_TOKEN is undefined

https://github.com/eclipse/che-theia/blob/master/extensions/eclipse-che-theia-plugin-ext/src/node/che-api-service.ts#L90

Is not clear. Need to investigate more. Add several tries and a delay
https://github.com/eclipse/che-theia/pull/32/files#diff-c30cdeeaee19f3e90d03ade3

[2019-01-21 08:11] ashumilova opened #33 "Add ability to import project with sparse checkout feature"
When user defines the project's source, there should be ability to set the directory, which should be cloned as the only one from whole pointed repository, and this value should be properly handled.

Here is the example of project's source:
[code]
**keepDir** - parameter contains the name of the directory,
**convertToTopLevelProject** - whether keep the directory as part of main project structure

[2019-01-21 13:05] olexii4 commented on #25
Depends on
https://github.com/theia-ide/theia/issues/4122

[2019-01-23 15:48] AndrienkoAleksandr opened #36 "Yeoman plugin wizard not always display output with help output channel."
Yeoman plugin wizard not always display output in the output channel. But it should:
https://github.com/eclipse/theia-yeoman-plugin/blob/master/src/theia-yeoman-adapter.ts#L23

[2019-01-23 15:49] AndrienkoAleksandr commented on #36
Seems related to this bug https://github.com/theia-ide/theia/issues/4155

[2019-01-24 19:19] svor opened #37 "Several extensions are broken with latest Theia"
**che-theia-task extension** error log:
[code]
**che-theia-remote-extension** error log:
[code]
Also **che-theia-terminal** extension is broken: https://github.com/eclipse/che-theia/issues/29

[2019-01-25 14:41] AndrienkoAleksandr opened #39 "Update Theia image to the newer version (for example 0.3.19)"
Task: Update Theia to the version 0.3.19

[2019-01-25 14:55] AndrienkoAleksandr commented on #39
First should be fixed https://github.com/eclipse/che-theia/issues/29 and https://github.com/eclipse/che-theia/issues/37

[2019-01-30 09:23] #29 closed

[2019-02-01 14:45] sunix opened #45 "Build and package che-theia plugins during che-theia image build."
The same way we are building extensions, we would build che-theia plugins from sources and package them so they are available right away.

1. skate board step: https://github.com/eclipse/che-theia/pull/43
2. moto cycle step: include che-theia plugins build into the `che:theia` generator
    - `che:theia init` would also clone plugins projects
[code]

- [x] it would use a single `extensions.yml` fi

[2019-02-01 14:53] benoitf commented on #45
I like the proposal

probably rename `extensions.yml` to a more generic name (as for now extensions.yml was only for extensions)

I think we can avoid default (no need of compatibility AFAIK)

[2019-02-01 14:56] AndrienkoAleksandr commented on #45
+1 For generic name.

[2019-02-01 15:42] sunix commented on #45
- `che-theia-customizations.yml` ?
- `customizations.yml` ?

[2019-02-04 14:38] sunix commented on #25
subtasks:
- [ ] Fix a getWorkspace method for the container plugins.￼" - was mark as DONE in daily stand-up.
- [ ] Treeview api https://github.com/theia-ide/theia/issues/4122 duplicate of https://github.com/theia-ide/theia/issues/3907

[2019-02-06 00:46] dclong opened #52 "How is eclipse/che-theia different from eclipse/che?"
And how do I run the Docker image?

[2019-02-06 07:14] benoitf commented on #52
Hello dclong.
eclipse/che-theia is the customized version of Theia that runs smoothly in Che (like terminals being aware of containers of the workspace), icon to go the dashboard, etc
But it's only the IDE/Editor part.

You still need Eclipse Che to run this CheTheia, it is done by selecting the plugin "theia" in a Che7 Workspace

[2019-02-06 07:14] #52 closed

[2019-02-06 17:26] l0rd commented on #39
I think the plan is to:
- [ ] build 2 che-theia versions in the CI: one using latest upstream theia and the other nightly theia
- [ ] publish 2 theia editor versions in the plugin registry

Am I right? Is this issue tracking both tasks? cc @evidolob

[2019-02-06 17:29] l0rd opened #55 "Remove Java LS and the JDK from Che theia image"
This should be done as soon as Java LS is available as a plugin in the plugin registry: https://github.com/theia-ide/theia/issues/3778

[2019-02-06 17:30] l0rd commented on #55
cc @evidolob I have created this issue to track it in https://github.com/eclipse/che/issues/12170

[2019-02-07 07:28] evidolob commented on #39
@l0rd Yes, you are right

[2019-02-08 18:05] l0rd commented on #39
@evidolob can we keep this issue open until we have 2 versions of Theia in `https://github.com/eclipse/che-plugin-registry/tree/master/plugins/org.eclipse.che.editor.theia/` ? Or is there another issue to track that?

[2019-02-11 14:46] mmorhun opened #60 "Users inconsistance when run nodejs script"
The problem is that nodejs processes are run under user `node` in dev container, whereas user in terminal is different. It cause permission denied problems.
For example, a new directory created from terminal in Theia has owner, say, `user` and permissions `drwxr-xr-x`. So when a nodejs process is running even from the same shell, and nodejs script tries to write something in that dir - it will fai

[2019-02-12 10:15] azatsarynnyy opened #62 "Remote plugin isn't registered in Theia"
When running [Che k8s plugin](https://github.com/azatsarynnyy/che7-plugin-registry/blob/master/ms-kubernetes-tools.vscode-kubernetes-tools/0.1.16/meta.yaml) in a separate sidecar container, the plugin isn't registered in Theia.

***Steps to reproduce***
- start minikube with the command
`minikube start --memory 8192 --cpus 4 --disk-size 50g --docker-opt userland-proxy=false`
- start nightly Che Se

[2019-02-12 10:21] benoitf opened #63 "Revisit name of docker images"
Before, images were in che repository.
and it was tagged with 'theia version' and 'che version'
 - che-theia:0.3.18-6.17.2 (theia version being 0.3.18 and che version being 6.17.2)
 - che-theia:0.3.19-nightly (theia 0.3.19, nightly build of the image)

but now, che-theia images are published from che-theia repository and we need to revisit labels because `nightly` images are not every night (but a

[2019-02-12 11:42] l0rd commented on #63
At every commit in che-theia you build the following 2 images right?
- stable upstream theia + head of master che-theia
- master upstream thaia + master che-theia

The second one is `next`. What's the name of the first one? We can use the commit hash as well (e.g. `<commit-upstream>-<commit-che-theia>`) and tag `latest`, `next` and `next-nightly` as you mentioned).

[2019-02-12 13:08] benoitf commented on #63
We should probably have branches in che-theia repository
- one branch for each upstream theia version like 0.3.19 branch
- master branch for upstream master.
so every commit shouldn't trigger the build. Only a commit in the right branch.

Commit hash are interesting if we want to get back on version. Do we need them ?

[2019-02-12 13:15] #37 closed

[2019-02-12 18:38] l0rd commented on #63
I don't know about 2 branches. You will need a `next` branch if upstream theia introduces a breaking change and you want to provide a fix without affecting `master`. But my question was: what will be the tag for the image build after every commit (stable theia + master che-theia)?

No I don't think so. Maybe hash are useless after all.

[2019-02-12 20:22] l0rd commented on #62
cc @evidolob @benoitf

[2019-02-14 09:26] tolusha commented on #62
@azatsarynnyy have you tried `eclipse/che-theia:master` image?

[2019-02-14 09:27] tolusha commented on #62
The image for plugin has to be based on https://github.com/eclipse/che-theia/tree/master/extensions/eclipse-che-theia-remote

[2019-02-14 11:31] azatsarynnyy commented on #62
@tolusha I've just tried your suggestion but unfortunately it still doesn't work with the same error in the Theia container:
[code]

[2019-02-15 09:09] #39 closed

[2019-02-18 10:39] svor opened #68 "Add CI to build and push remote-plugin-runner-java8 image on dockerhub"
We have a dockerfile for Che remote plugin that provides java8 as a part of the runtime. It is useful for VS Code extensions used in Che as a remote plugin that need java.

[2019-02-18 13:33] skabashnyuk commented on #68
What "Theia remote runner" is?

[2019-02-18 13:58] svor commented on #68
@skabashnyuk I've changed the description

[2019-02-18 15:43] #68 closed

[2019-02-20 15:45] RomanNikitenko opened #76 "Che tasks are not returned by task manager"
I tried to get Che tasks by [taskManager.getTasks()](https://github.com/theia-ide/theia/blob/master/packages/task/src/node/task-manager.ts#L62) and faced with this bug.
I guess the problem is related to [registerTaskRunner](https://github.com/eclipse/che-theia/blob/master/extensions/eclipse-che-theia-plugin-ext/src/node/che-task-service.ts#L33)

[2019-02-21 09:09] RomanNikitenko opened #78 "Improve the way of storage runtime info for Che tasks"
Currently runtime info for Che tasks is available till we refreshing the page.
I guess the problem is related to how we store runtime info.
[CheTaskImpl](https://github.com/eclipse/che-theia/blob/master/extensions/eclipse-che-theia-plugin-ext/src/plugin/che-task-impl.ts#L15) is created every time the page is reloaded, so task map is empty for this case and lose runtime info for Che tasks.
So we sh

[2019-02-21 16:04] azatsarynnyy commented on #62
I rebuilt the plugin image on the `eclipse/che-theia-endpoint-runtime:nightly` and checked it with `eclipse/che-theia:master` - the same error. The issue description has been updated with the latest info.

[2019-02-21 16:27] l0rd commented on #62
@azatsarynnyy can't it be related to the fact that you are not using `--docker-opt userland-proxy=false` when you start minikube (c.f. https://github.com/eclipse/che/issues/12526)?

[2019-02-22 09:33] #55 closed

[2019-02-22 14:17] #76 closed

[2019-02-22 15:00] azatsarynnyy commented on #62
After investigating the problem we've got interesting results which might help in solving this issue.
Killing the plugin's container fixes the plugin registration. So, once kubelet restarts the plugin's container, Theia is able to connect to it and register the plugin.

[2019-02-26 13:01] #62 closed

[2019-02-26 13:12] benoitf commented on #62
hello, should be fixed by https://github.com/eclipse/che-theia/pull/86 but please re-open if not fixed

[2019-02-27 10:05] #25 closed

[2019-02-27 10:07] #22 closed

[2019-02-27 10:08] #21 closed

[2019-03-06 09:28] mmorhun opened #95 "Welcome plug-in shouldn't open welcome page each page load"
When `@eclipse-che/welcome-plugin` is included it opens welcome page every page load. It happens each page reload even if plenty of editors are already opened. Also focus goes to that new tab, so user have to manually close it. The same problem when a user switches to dashboard and goes back to Che Theia.

[2019-03-07 12:10] sunix commented on #95
Should open welcome page only once/the first time you run the workspace

[2019-03-07 12:26] sunix opened #101 "Plugins don't start the first time"
Just noticed, but almost each time I start a workspace (with chectl and a devfile), plugins are not loaded. I have to refresh the page.

Environment:
- minikube
- che single user mode started with `chectl`

When i start a workspace with the devfile https://github.com/sunix/devfiles/blob/master/che-in-che/che-theia-remote.devfile.yaml , accessing to the workspace is opening theia but plugins are no

[2019-03-07 12:35] sunix opened #103 "Container view: running a che-command/task do not work if you have not run a che-command/task first/one time with the command pallette"
running a che-command/task do not work if you have not run a che-command/task first/one time with the command pallette:
- start a workspace with this devfile: https://github.com/sunix/devfiles/blob/b45681a94ba8ce6e139cc4f453d7ce37c80435cf/che-in-che/che-theia-remote.devfile.yaml
- once the projects are cloned, in the container view click on the command `init ... che:theia`

The command do not star

[2019-03-07 12:43] sunix opened #104 "container view: bug with filtering commands that should be run in a specific tool"
From that devfile https://github.com/sunix/devfiles/blob/b45681a94ba8ce6e139cc4f453d7ce37c80435cf/che-in-che/che-theia-remote.devfile.yaml#L39-L96 , all the command but `run ... remote theia endpoint` should be executed on the tool `che-dev`, however the commands are displayed in every tools in the container view.
Filtering commands for a `dockerImage` tool works fine though.

![selection_188](htt

[2019-03-08 15:38] sunix commented on #104
I have had a look to this one and we have a problem for commands that are assigned to plugins tools:
- names are prefixed by 'dockerimage/' but we do compare exact values
- no command.attributes.machineName ... would have to use command.attributes.toolName
- command.attributes.toolName is not matching the name. For instance, i have a plugin tool named `dockerimage/theia-dev` but the command.attrib

[2019-03-13 14:49] sunix opened #108 "Synchronization of workspace git projects should ignore git projects that are cloned within an existing git project"
It is not something that the user would expect and it can cause issues.

[2019-03-14 10:11] vitaliy-guliy commented on #95
Or just when there is no opened files

[2019-03-14 10:25] benoitf commented on #95
as each person seems to have its own view, I don't know what should be the `expected behavior`

But we could have an option to turn it off (like VSCode)

[2019-03-14 10:29] vitaliy-guliy commented on #95
Let's start from having this option

[2019-03-14 10:30] benoitf commented on #95
turn it off per workspace or per user ? or user has the two choices ?

[2019-03-14 10:37] vitaliy-guliy commented on #95
I prefer per workspace option

[2019-03-14 10:40] vitaliy-guliy commented on #95
Disable by pressing the button or a check box on the Welcome Page

[2019-03-14 14:20] ankkumar-progress opened #109 "How to use eclipse-che-theia-terminal extension in a project"
In our project, we are trying   to use eclipse-che-theia-terminal. As it is not released to npm , we are downloading from [github](https://codeload.github.com/eclipse/che-theia/zip/v0.4.0) on the fly and just keeping the folder eclipse-che-theia-terminal.
When I am trying to build eclipse-che-theia-terminal I am getting errors. I tried some steps to remove the errors and in fact, I succeeded in re

[2019-03-15 08:42] azatsarynnyy opened #111 "Terminal API: sending text to the newly created terminal doesn't work as expected"
### Description
[`window.createTerminal`](https://github.com/theia-ide/theia/blob/b21023ef38060a127b0c152bdf71344de8950f59/packages/plugin/src/theia.d.ts#L3126) followed by [`terminal.sendText`](https://github.com/theia-ide/theia/blob/b21023ef38060a127b0c152bdf71344de8950f59/packages/plugin/src/theia.d.ts#L2340) leads to opening an empty terminal.

### Reproduction Steps
1/ Run the [terminal-plugi

[2019-03-15 08:53] azatsarynnyy commented on #111
It's important for running the Kubernetes Tooling Che Plugin since a lot of the plugin's commands depend on these API calls.

[2019-03-15 08:54] ashumilova commented on #111
Added to the next sprint with High priority. Thank you for notifying.

[2019-03-15 12:06] azatsarynnyy opened #112 "Terminal API doesn't work for a plugin running in a sidecar container"
### Description
[Theia Plugin Terminal API](https://github.com/theia-ide/theia/blob/b21023ef38060a127b0c152bdf71344de8950f59/packages/plugin/src/theia.d.ts#L3126) doesn't work for a plugin running in a sidecar container.

### Reproduction Steps
1/ Start Che Workspace with the [terminal-plugin sample](https://github.com/eclipse/che-theia-samples/tree/master/samples/terminal-plugin) running in its o

[2019-03-15 12:07] azatsarynnyy commented on #112
It's critical for running the Kubernetes Tooling Che Plugin since a lot of the plugin's commands depend on Terminal API.

[2019-03-15 13:05] AndrienkoAleksandr commented on #109
@ankkumar-progress , Hello.  @evidolob will be back from PTO in 18 March(Monday). I think he could answer on your question in a best way.
A bit information from me: for now we are using docker image(eclipse/che-theia). We included inside this image latest working che-theia with our plugins, extensions. That's why we didn't do releases on the node registry for all extensions and plugins. We have re

[2019-03-15 13:13] AndrienkoAleksandr commented on #109
@ankkumar-progress,  About your error. We have che-theia generator tool(https://www.npmjs.com/package/@eclipse-che/theia-generator). We used this tool for development and to build che-theia image. With help this tools we patch upsteam theia to apply our extensions. Also this tool fixes some changes in the package.json of the theia extensions. For example this tool modify package.json of the extens

[2019-03-15 13:20] ankkumar-progress commented on #109
As this is a very useful extension, can you release this extension so that it will be easy for us to use in our project and should work out of the box?

[2019-03-15 13:25] AndrienkoAleksandr commented on #109
@ankkumar-progress I don't have permissions to do any realeses. So let's await response from @evidolob

[2019-03-18 09:35] sunix opened #117 "che-theia terminal is empty on Firefox"
![Eclipse Che | cheTheia-in-che - Mozilla Firefox_194](https://user-images.githubusercontent.com/650571/54520645-7384fd80-4969-11e9-947a-0f0beebd5671.png)

[code]

[2019-03-18 10:12] sunix commented on #45
currently testing to build theia (after che:theia init) with symb links that i added manually to plugins but got this issue:
[code]
I guess it is the symbolic link is `hidding` the .git folder and git commands are performed against the theia repo and not the plugin repo.

[2019-03-18 15:45] evidolob commented on #109
@ankkumar-progress Yes we can do release, let me check our CI

[2019-03-18 15:48] evidolob commented on #109
As for `concurrently`, we use [yarn workspaces ](https://yarnpkg.com/lang/en/docs/workspaces/) in this repo, so we declare common dev dependencies in parent [package.json ](https://github.com/eclipse/che-theia/blob/master/package.json#L6)

[2019-03-18 20:31] AndrienkoAleksandr opened #118 "Ui should somehow mark If the same task was execute for different containers"
Ui should somehow mark If the same task was executed for different containers. For now task output reused per command. But in case if user launch the same command in different containers I think we should somehow display it for user.

[2019-03-19 05:30] ankkumar-progress commented on #109
Thanks @evidolob for looking into the release

[2019-03-19 08:54] #63 closed

[2019-03-19 09:49] azatsarynnyy opened #120 "Sidecar container with a plugin is terminated after refreshing the browser's page multiple times"
When running the [Kubernetes Tooling Che Plugin](https://github.com/eclipse/che-plugin-registry/blob/master/plugins/ms-kubernetes-tools.vscode-kubernetes-tools/0.1.17/meta.yaml) in a separate sidecar container and refreshing the browser's page 4-6 times a plugin container is terminated with OOM. After that kubelet restarts the terminated container.

***Diagnostics***
From the Workspace pod descrip

[2019-03-19 15:49] benoitf commented on #120
hello, is it just with this plugin+sidecar or you've issues with other plug-ins as well ?

[2019-03-19 16:05] azatsarynnyy commented on #120
There're several plugins in my [Workspace](https://github.com/azatsarynnyy/simple-nodejs-weather-app/blob/master/devfile.yml) but I've spotted the issue only with the k8s plugin container.

[2019-03-22 07:18] aaqaishtyaq opened #125 "Cannot use Git repositories other than github with theia-generator"
Hey, I'm trying to build Theia image for Che, with a custom extension. I'm using self hosted git for extension. But while building it is saying `Invalid repository name: {My git repo URL}`.

After further debugging i came across a piece of code in _@eclipse-che/theia-generator_
[code]
It is checking for a git repo which is hosted on Github.

Is there any way of using git repo other than github?
Is

[2019-03-22 09:52] #125 closed

[2019-03-22 09:53] aaqaishtyaq commented on #125
Moved to [ws-skeleton/che-theia-generator#19](https://github.com/ws-skeleton/che-theia-generator/issues/19)

[2019-03-22 11:19] sunix opened #127 "Regression: containers view is not available anymore"
See screenshot,

![Selection_201](https://user-images.githubusercontent.com/650571/54819524-6be09400-4c9c-11e9-8450-a74b25aa6062.png)

Maybe related to https://github.com/theia-ide/theia/pull/4600

[2019-03-22 12:04] AndrienkoAleksandr commented on #117
I did some little investigation of this issue. And I see that Firefox blocs not only terminal. It also blocks some svg images(close icons for example, or icons with file type) and maybe some scripts:

[code]

[code]

This issue is reproducible on the Theia with CDN artifact. Theia which was build without cdn modification works fine.
So, Firefox detects that Theia tried to get some resources or lau

[2019-03-25 17:12] benoitf opened #135 "Terminal: unable to show plug-in containers"
Hello,

Trying the shortcut on my computer (french keyboard /macOS) is not toggling the containers

![image](https://user-images.githubusercontent.com/436777/54939647-62b82700-4f29-11e9-8c4d-f8c31b0f1b97.png)

Note: I'm using containers plug-in view to open terminals but it would be interesting if the issue is on the shortcut being displayed or shortcut not working with my french keyboard ?

[2019-03-25 18:26] jeffmaury opened #136 "VSCode extension installed but commands not available"
I'm trying to validate Project Initializer in Che and faces the following issues:

Here is what I did:

- started che on minishift though chectl
- created a workspace using Che7 stack and theia-ide:next as editor
- installed `Project Initializer` extension with the `Plugin: Deploy plugin by Id` and the `vscode:extension/redhat.project-initializer` URL
- can't see an Project: related command in the

[2019-03-26 07:24] benoitf commented on #127
Fixed by https://github.com/eclipse/che-theia/pull/134

[2019-03-26 07:24] #127 closed

[2019-03-26 07:26] AndrienkoAleksandr commented on #136
Confirm this bug

[2019-03-26 08:48] AndrienkoAleksandr opened #138 "Task doesn't work without workDir"
Regression: Task doesn't work without workDir

[2019-03-26 08:59] #36 closed

[2019-03-26 08:59] AndrienkoAleksandr commented on #36
It was Fixed

[2019-03-26 20:36] davidfestal commented on #117
@AndrienkoAleksandr I'll look with our CDN / Akamai account contact if he can add the required headers in the files responses returned by the CDN. And will come back to you as soon as I have an answer.

[2019-03-26 21:12] davidfestal commented on #117
OTOH when, in Firefox, I disable CSP (with `security.csp.enable` to `false`), I don't have the CSP errors anymore, but I still have the `setRules` `TypeError`.

Additionally, even with CSP enabled (=> having the CSP errors on image resources), I'm able to open a working terminal in the `theia-ide`  container.

That makes me think that there might be several problems at the same time here.

@Andrie

[2019-03-27 08:46] AndrienkoAleksandr commented on #117
@davidfestal I will take a look with security.csp.enable=false and will write result of testing.

[2019-03-27 17:50] ankkumar-progress commented on #109
I guess below is the package
https://www.npmjs.com/package/@eclipse-che/theia-terminal
Please correct me if I am wrong

[2019-03-28 10:41] AndrienkoAleksandr commented on #117
@davidfestal I tested terminal with security.csp.enable=false. Terminal works nice.

About this one:

I don't think so. Terminal creation is broken, but if you refresh page - it begin work... So security.csp.enable=true really breaks terminal.

[2019-03-29 13:03] #103 closed

[2019-04-01 08:29] sunix commented on #111
@AndrienkoAleksandr can we close this issue ?

[2019-04-01 09:33] #111 closed

[2019-04-01 10:09] azatsarynnyy commented on #120
I've increased the memory for the plugin sidecar to 300Mi and the container was terminated after ~15 browser's page reloads. So, this may be due to a memory leak.

[2019-04-01 10:15] benoitf commented on #120
@azatsarynnyy could you tell me which steps do you use for k8s plug-in

it's just adding plug-in to workspace conf and reloading it or you're configuring plug-in somehow and play with it and then reload it ?

[2019-04-01 10:17] #138 closed

[2019-04-01 10:24] azatsarynnyy commented on #120
@benoitf just adding the plugin into workspace and reloading the page

[2019-04-02 12:10] AndrienkoAleksandr opened #151 "Resize panels become broken and freezes when opened Welcome page..."
We have a some strange bug. When opened 'Welcome Eclipse CHE page' resize left, right, and bottom panels doesn't work correctly. **When I close this widget - everyting works fine.** I guess it's some bug with web-view widgets...

![CrazyResize](https://user-images.githubusercontent.com/6873095/55401453-77b03e00-5559-11e9-913f-7cc36421733f.gif)

[2019-04-02 12:38] AndrienkoAleksandr opened #152 "Mouse click works incorrectly for che-theia terminal."
Mouse clicks works incorrectly for che-theia terminal.
Steps to reproduce:
1. Install mc.
2. Open mc.
3. Click with help mouse on the F10 Exit.
4. mc should be closed.

[2019-04-02 13:03] AndrienkoAleksandr opened #153 "Apply welcome page to the help menu"
It would be nice to  apply welcome page item to the help menu.

[2019-04-02 13:29] mmorhun commented on #151
Faced this issue too, pretty annoying, I would say.

[2019-04-03 12:55] sunix opened #154 "task/che-commands should not ask the target machine (component) if already defined in devfile"
### Description
It looks like a regression, when i define che-commands with a target machine (component) in a devfile, Running the task is still asking which machine to use:

### Reproduction Steps
Run this devfile:

[code]
run the command `run on theia-editor` it is supposed to run that on the theia-editor container but it is still asking where to run it.
On another side, `run on git` works well

[2019-04-03 12:59] sleshchenko commented on #154
@sunix It may be related to Che Server but not Che-theia. Could you check if Che Server sets correct `machineName` attribute for command in runtime of the workspace?

[2019-04-03 13:02] sunix opened #155 "running a task/che-commands is showing error: `Request {taskname} failed with error: Information not found`"
### Description
When trying to run a che-command, `Request {taskname} failed with error: Information not found` message is display and the command is not executed

### Reproduction Steps
Run this devfile:

[code]
run the command `run` it is supposed to execute the command `pwd` but it is not and showing in a dialog box: `Error launching task 'run': Request run failed with message: Information not

[2019-04-03 14:05] sunix commented on #154
yes my bad, so it happens for commands that targets a plugin with is not a dockerImage, i am fixing the example :)

[2019-04-04 13:39] tolusha commented on #155
It is impossible to test new stacks with plugins ^(
https://github.com/eclipse/che/issues/12944

[2019-04-05 11:47] AndrienkoAleksandr commented on #153
plugin api doesn't has ability to apply some item to the main toolbar

[2019-04-05 11:47] #153 closed

[2019-04-05 11:50] AndrienkoAleksandr commented on #95
+1 I prefer per workspace option

[2019-04-05 12:15] mmorhun opened #159 "Add ability to disable/remove default plug-ins in Che Theia"
### Description
For now default plug-ins in Che Theia are build-in the Che Theia image. The goal of this issue is to allow disabling or removing some of them.
It might be helpful if some of default plug-ins are collided with functionality which is needed to be tested or developed. For example, development of one of the default plug-ins.

[2019-04-05 12:59] tsmaeder commented on #155
@tolusha could you explain why this prevents testing?

[2019-04-05 13:23] tolusha commented on #155
It doesn't prevent testing anymore. I've found workaround by testing commands without plugins.

[2019-04-05 13:37] tolusha commented on #155
It is possible to test commands with python stack which doesn't use sidecars.

[2019-04-08 07:05] mmorhun opened #161 "Add support for clonning svn repository"
### Description
Currently we support only git repositories in Factory plug-in which is responsible for cloning projects according to workspace configuration. But some projects use snv repsitories and it would be good to have support for them.

[2019-04-08 07:38] #112 closed

[2019-04-08 09:38] mmorhun commented on #104
Fixed

[2019-04-08 09:38] #104 closed

[2019-04-08 23:23] sunix opened #166 "vscode typescript extension fails to start the TypeScript language service."
### Description
When adding the typescript extension, it is failing to start:

![Selection_211](https://user-images.githubusercontent.com/650571/55763002-9c2e7d80-5a65-11e9-9db1-ce79e03f7fc6.png)

### Reproduction Steps
Starting a workspace with the following devfile: https://github.com/sunix/devfiles/blob/6f59533d7912a1d274b921d7b24867413eedfcb7/che-in-che/che-theia.devfile.yaml

And start to cod

[2019-04-09 07:58] mmorhun commented on #166
You may workaround that problem with
[code]
in workspace attributes. Just set amount of memory what you need.
The same for other plug-ins in sidecars, but check their IDs.

[2019-04-10 15:14] sunix commented on #161
If we were to support svn, we should go through `git svn`.

[2019-04-10 15:15] sunix commented on #161
which projects ?

[2019-04-11 06:45] mmorhun commented on #161
@sunix exactly, `git svn` is the way to go. I think implemetation shouldn't be hard.
As about projects, I do not understand your question. You want me to list to you projects which use svn?

[2019-04-11 07:54] sunix commented on #161
I guess you are creating this issue because their is a customer needs or personal needs ? Just interested to know which ones.

[2019-04-11 08:23] mmorhun commented on #161
There is no any customer requests so far, but I  think it might happen because still some projects, especially which were started long time before, use snv.
As about personal needs - I see no problem in bringing git svn in my tool container and clone needed projects. But it will be more comfortable to just specify it in devfile.

[2019-04-11 13:44] makandre commented on #95
For products that want to build on top of Che Theia and maybe supply their own welcome page, can this option be set somewhere (in the stack definition perhaps)?

[2019-04-11 14:03] AndrienkoAleksandr commented on #95
Hello @makandre . This changes introduced to welcome-plugin. In case if you build own IDE on top of che-theia you could apply own list predefined plugins. If you don't need welcome plugin - you could postpone this plugin, or apply yours analog. che-theia has folder in the image and in this folder stored predefined plugins. CHE Theia process knows where is this folder located with help environment

[2019-04-11 15:20] makandre commented on #95
@AndrienkoAleksandr Thanks for your reply.  But could you explain what you meant by "you could postpone this plugin" or how to apply my own list of plugins?  Sorry I'm new to Che Theia

[2019-04-11 19:34] makandre commented on #159
This would be useful for people building on top of Che Theia and want to, for example, disable the welcome-plugin and provide their own

[2019-04-11 19:46] makandre opened #174 "Minor UI alignment issue with Welcome page tab icon"
### Description

This is a very minor issue but as you can see in the below screenshot, the Welcome page tab icon is not aligned with the text (unlike the icon for editor tab which sits flush):

![image](https://user-images.githubusercontent.com/17596240/55987853-69a4a080-5c70-11e9-9328-21f99b0c02d7.png)

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2019-04-11 21:38] sunix commented on #154
Fixed with https://github.com/eclipse/che-theia/pull/170

[2019-04-11 21:38] #154 closed

[2019-04-12 09:41] RomanNikitenko commented on #155
The bug is reproduced when we have at least one active remote plugin, so I tested it with typescript plugin.
We [create](https://github.com/theia-ide/theia/blob/26b1a35b1f7390c9e70ffd67d8cfc2a3089bd909/packages/plugin-ext/src/hosted/browser/hosted-plugin.ts#L156) one RPC per host, so at least one rpc for typescript plugin and one for 'main' host. Next we [initialize](https://github.com/eclipse/che

[2019-04-15 06:56] AndrienkoAleksandr commented on #95
@makandre we have che-theia image: https://github.com/eclipse/che-theia/tree/master/dockerfiles/theia/
For ci build image, we used file where is defined list of Theia extensions and plugins https://github.com/eclipse/che-theia/blob/master/extensions/extensions.yml#L22 .
It used in logic here: https://github.com/eclipse/che-theia/blob/master/dockerfiles/theia/Dockerfile#L68
As you can see we have c

[2019-04-15 07:21] sunix commented on #95
Welcome page is provided through a Theia plugin (a .theia file), you can include it or exclude in your product or replace it by your own. You can have a look in how it is done: https://github.com/eclipse/che-theia/tree/master/plugins/welcome-plugin

[2019-04-15 13:08] slemeur commented on #155
Who is handling this issue?

[2019-04-15 13:18] RomanNikitenko commented on #155
@slemeur I'm testing some fix for @eclipse-che/theia-plugin-ext side and going to provide the PR.
But it would be great to get answer on question above - may be the problem is deeper and we can have another potential issues

[2019-04-15 13:59] makandre commented on #95
Thanks for the info!  Just to make sure I understand, the suggested methods involve re-building/re-packaging Che Theia right?  Are there any ways to use Che Theia as-is with some runtime configuration change to include/exclude other plugins? Thanks.

[2019-04-15 14:03] benoitf commented on #95
@makandre you could set THEIA_DEFAULT_PLUGINS to an empty variable or override it with another location (like mounting a volume where you've all your *.theia files) or mount all your customized theia files to `/default-theia-plugins` location

[2019-04-15 22:15] tetchel opened #180 ""port is not exposed in the workspace as a server""
### Description
When I try to launch a hosted plugin instance, I get the following popup:
![image](https://user-images.githubusercontent.com/8888438/56168846-56643e80-5faa-11e9-9275-d26552fac113.png)

I can then still access my new instance at `localhost:3030`, but my plugin does not appear in the Plugins view.

What does the above message mean? How do I fix it?

### Reproduction Steps

1. Build t

[2019-04-15 22:22] tetchel commented on #180
I tried it with https://github.com/eclipse/che-theia-samples/tree/master/samples/tree-view-sample-plugin and had the same result, so it's not my plugin.

[2019-04-15 22:26] tetchel commented on #180
reading the logs I posted above, it looks like pretty much every request is failing, likely due to

`root ERROR Uncaught Exception:  Unable to create Che API REST Client: "CHE_API_INTERNAL" is not set`
how to fix this?

[2019-04-15 23:00] tetchel commented on #180
I will just develop against regular Theia for now... I think I am using this wrong.

[2019-04-15 23:00] #180 closed

[2019-04-16 06:00] benoitf commented on #180
Hello @tetchel , I think you're trying to use the che-theia image outside of Che environment (Kubernetes, OpenShift, etc)
The che-theia image can't be run directly with docker. You need to use for example the Che cli to boot Eclipse Che https://www.eclipse.org/che/docs/che-7/che-quick-starts.html#running-che-locally_che-quick-starts

[2019-04-16 07:04] #95 closed

[2019-04-16 07:31] RomanNikitenko opened #184 "Can not run recently used task"
### Description
After running detected task this one moves to 'recently used tasks' section.
After that it's impossible to run this task again.
The problem started to reproduce after merge https://github.com/theia-ide/theia/pull/4847

### Reproduction Steps
1. Run some detected task
2. Try to run this one again from 'recently used tasks' section

[2019-04-16 12:57] vzhukovskii opened #185 "Include source map into theia image by default"
### Description
There is a need to debug a client side (theia in workspace, not a dedicate hosted instance) in theia, but when image is build, all files needed for developmen are removed due to production cleaning step. This blocks debugging client side and instigates editing theia image and implies an extra work to build image, push it into own registry and edit deployment configuration in miniku

[2019-04-16 13:36] evidolob commented on #185
I think there are some specific reasons why we remove source maps from che-theia image, @benoitf what do you think?

[2019-04-16 13:39] benoitf commented on #185
well, first I do not think it's kind of a blocker.

second, yes it's to have a minimal image size.
When I discussed that with @davidfestal we were thinking to store sourcemaps into the CDN as well so it would not be stored inside the image but could be available through CDN

[2019-04-16 13:50] vzhukovskii commented on #185
It blocks me at the moment, because I'm trying to remove the code, which removes sourcemaps from image and can't get success with it at the moment. It would be good to have the environment variable which will include sourcemaps during theia image build (to include sourcemaps and cdn support or not), enabled by default.

[2019-04-16 13:52] benoitf commented on #185
IMHO you're blocked is different that there is blocker in product.

[2019-04-17 08:31] RomanNikitenko commented on #184
I investigated the issue and described the cause of the problem https://github.com/theia-ide/theia/issues/4928

[2019-04-17 09:42] #155 closed

[2019-04-19 06:11] RomanNikitenko commented on #184
'Clear History' command can be used as workaround until theia-ide/theia#4928 will be fixed

[2019-04-20 16:37] esubah1989 opened #189 "Add instructions for how to add the image built from the README to che locally or remotely"
### Description

Add instructions for adding the image built from the README to a local or  openshift instance of che.
### Reproduction Steps
 #### `Machine cannot start`  Error
- Built the docker image following the instructions in the README.
- Created a new stack that points to the docker image but I received error.
- Tried on both local and remote instance of Che.

**OS and version:**
Mac OSX

[2019-04-23 09:55] svor opened #190 "[port plug-in] Filter out all ephemeral ports"
### Description

It would be nice to filter out all ephemeral ports to avoid annoying error message about exposing ports:
![screenshot-che-mini-che 192 168 99 102 nip io-2019 04 23-12-48-13](https://user-images.githubusercontent.com/1271546/56571661-16aedf80-65c6-11e9-9f98-979292e56781.png)

### Reproduction Steps
To see this error window you need to run Minishift with remote Java plugin and try t

[2019-04-23 14:57] sunix commented on #166
would be fixed with https://github.com/eclipse/che/issues/12981

[2019-04-25 12:03] sunix opened #192 "tasks: output of a command is not rendered correctly"
### Description
Executing che commands in che-theia with a che-theia task (from the container view or command palette `run tasks`), output is not looking good. special characters bash code for colors seems not to be taken in account. Also progress output are generating new lines when updated.
See screenshot:

![output](https://user-images.githubusercontent.com/5676062/57067089-b52df580-6cd6-11e9-9

[2019-04-25 13:45] vparfonov commented on #192
Actually we wait on fix this epic https://github.com/eclipse/che/issues/11458 for replacing current output widget with terminal widget

[2019-04-25 14:13] RomanNikitenko commented on #192
It was temporary solution to display output of a command to output channel. Within this [issue](https://github.com/eclipse/che/issues/11458) we depend on https://github.com/eclipse/che/issues/11442
I can provide a small improvement to fix this issue for output channel.
![output](https://user-images.githubusercontent.com/5676062/56742181-ea898f00-677c-11e9-9c66-a12f6bea12a5.png)

If it's OK that co

[2019-04-25 14:31] AndrienkoAleksandr commented on #192
+1 for small improvements.

[2019-04-25 14:31] sunix commented on #192
If it is a quick workaround, could you create the PR so we know what it is about ?

[2019-04-26 07:55] olexii4 opened #194 "Automate the process for plugins releases"
### Description

Automate the process for plugins releases

[2019-04-26 08:37] sunix commented on #194
what is that ?

[2019-04-26 11:58] olexii4 commented on #194
For this moment plugins build from the master branch or another
https://github.com/eclipse/che-theia/blob/master/dockerfiles/theia/Dockerfile#L95

It is fine for the images with a next tag.  But what about releases?
I think we should have a release for all plugins. And add all this plugin to the official plugins repo. It is my opinion.

Because today it is a predefined plugin, tomorrow - optional.

[2019-04-26 12:01] olexii4 commented on #194
@sunix  WDYT?

[2019-04-26 13:16] svor opened #195 "Stop running task"
### Description
We should have a functionality to stop/cancel running tasks.
For example if some task executes a process `sleep infinity` there are should be a way to cancel this process without using a terminal.

[2019-04-26 13:51] sunix commented on #192
sorry I am reopening it as the workaround does not solve everything

[2019-04-26 13:56] RomanNikitenko commented on #192
@sunix
may be we should edit it like "switch task's output from output channel to terminal widget"
WDYT?

[2019-04-26 16:35] sunix opened #196 "container view: move `New terminal`, commands and endpoints to the same level"
### Description
At the moment, for each container, actions and endpoints are in subfolders that force the user to unfold them to see them. Visually, it is also confusing when there are many containers
My proposal is to simplify the view, removing the folders `commands` and `endpoints` and move all of them in the same level of `New terminal` item.

Before:

![Selection_217](https://user-images.gith

[2019-04-27 10:08] olexii4 commented on #196
I think we should change the icon for "New terminal" to have a difference for each group.  Rename to "terminal". Use ' fa-tasks' for command icon instead of 'fa-terminal'.

And the last one. Add next logic: add group items if > 5 elements

[2019-04-28 16:19] sunix commented on #196
terminal icon is good, but tasks ones ...
the endpoints icon has to be changed

About the logic to create group items, i don't think it is necessary.

[2019-04-29 07:47] sunix commented on #196
what about

for tasks/che commands:
- fa-user-cog https://fontawesome.com/icons/user-cog?style=solid

for endpoints:
- fa-external-link-alt https://fontawesome.com/icons/external-link-alt?style=solid
- fa-rss https://fontawesome.com/icons/rss?style=solid for

[2019-04-29 08:23] l0rd commented on #196
+1 for `fa-external-link-alt` for endpoints
+1 to have a separate icon for tasks but not sure if `fa-user-cog` is the good one

group item if > 5: maybe in a different task: let's make the first changes, get some feedback, and then iterate.

[2019-04-30 11:26] sunix commented on #192
@RomanNikitenko I think we should not change the title, 'output of a command' is STILL not rendered correctly (no colors)
Maybe one of the PR to fix this would have the title you are suggesting but it is the difference between a bug/feature and tasks to fix/implement that.

[2019-04-30 11:45] RomanNikitenko commented on #192
@sunix
I think output channel is not designed for task output :-)
Are you sure a month ago we used output channel for task output?

btw: is screenshot actual at the moment?

[2019-04-30 17:12] RomanNikitenko opened #198 "Che in Che development is broken"
### Reproduction Steps
1. Create workspace from "Che 7 Theia dev" stack
2. Clone theia project
3. cd theia/
4. che:theia init -d
5. Build theia project

Result: build is failed
![che_theia_build](https://user-images.githubusercontent.com/5676062/56980581-658be480-6b85-11e9-821c-22424d987015.png)

[2019-04-30 17:30] sunix commented on #192
@RomanNikitenko whatever what it was using ... it was working and now it is not so it is a regression.

[2019-04-30 17:34] RomanNikitenko commented on #192
@sunix
what about screenshot?

[2019-04-30 17:43] RomanNikitenko commented on #192
@sunix
So you think we should improve displaying colors for output channel instead of switching output of task to terminal widget when https://github.com/eclipse/che/issues/11442 is resolved
OK, I see.

[2019-05-02 09:02] sunix commented on #192
No what I mean is that I don't mind the way it is fixed, but we have to fix that issue.

[2019-05-02 11:47] sunix commented on #198
fixed with https://github.com/eclipse/che-theia/pull/199

[2019-05-02 11:50] tsmaeder opened #200 "Clean up theia-endpoint-runtime directory structure"
The folder dockerfiles/theia-endpoint-generator contains actually 3 things:

1. Docker stuff to build the theia endpoint runtime docker image
2. A nodejs application that starts a version of theia that only runs a plugin endpoint (starting with plugin-remote.ts)
3. A theia extension that handles discovery of locally installed plugins and routes messages to/from those plugins.

Having all those con

[2019-05-02 11:59] tsmaeder commented on #200
Adding label "invalid", because we don't have a label for "software architecture".

[2019-05-03 07:42] AndrienkoAleksandr commented on #200
Ok, I applied label "software architecture"

[2019-05-03 08:43] sunix commented on #196
Looks like that now:

![Selection_221](https://user-images.githubusercontent.com/650571/57127290-372e2500-6d90-11e9-9ac6-16fc5590d69d.png)

[2019-05-03 08:43] #196 closed

[2019-05-07 07:51] sunix opened #208 "che:theia init should have an option to use local sources instead of cloning the che-theia repo"
### Description
Following the work done in #45 , when running the command `che:theia init`, it would be nice to set a local folder to be used instead of cloning the che-theia repo:

[code]

[2019-05-07 07:57] vitaliy-guliy opened #209 "Make it possible to add a VSCode extension"
We need a way to be able to simply install a VS Code extension.

First step:
  - [ ] User should be able to pick a plugin from VS Code Marketplace Site and install it in Che Theia
  - [ ] User should be able to drag and drop 'Install' button from VS Code marketplace to the Plugins view

Following improvements:
  - [ ] Display list of installed VS Code plugins in dedicated list
  - [ ] User should

[2019-05-07 12:49] svor opened #210 "Theia Omnisharp Plugin doesn't detect new projects"
### Description
Theia Omnisharp Plugin [1] doesn't detect projects which were cloned after Omnisharp LS initialization.
For correct work need to update project's dependencies by `dotnet restore` command and restart the workspace.

[1] - https://github.com/redhat-developer/omnisharp-theia-plugin

[2019-05-09 07:01] monaka opened #213 "DeprecationWarning: Tapable.apply is deprecated."
### Description

DeprecationWarning is shown in `@eclipse-che/theia-assembly`.
It looks this is not critical.

### Reproduction Steps

Builds 08df279dc3ec32b25b8cb2fb78e432c2e43c052c

**Diagnostics:**

Build log.
[code]

[2019-05-09 07:03] #45 closed

[2019-05-10 06:33] RomanNikitenko commented on #198
Now I have another error:
![theia_error](https://user-images.githubusercontent.com/5676062/57507169-9f3bb880-7306-11e9-85f1-559ce31c11ed.png)

[2019-05-10 07:16] sunix commented on #198
@RomanNikitenko https://ci.codenvycorp.com/job/che-theia-master-ci/

[2019-05-10 07:18] sunix commented on #198
I am closing this issue because CI should help us detecting that kind of issue and we cannot open a issue each time the build is broken. Thanks.

[2019-05-10 07:23] RomanNikitenko commented on #198
I'm sorry, but build is still broken. Maybe we can discuss here at least workaround or the cause of the problem

[2019-05-10 07:29] sunix opened #214 "My workspace view empty if no user defined container"
### Description
The workspace view completely empty if no user runtime has been define in the container view.
Also a error appear `[object Object]`

![Selection_244](https://user-images.githubusercontent.com/650571/57509937-ca71d800-7305-11e9-87d4-0f2cef59480f.png)
with the devfile:
[code]
But once we add a dockerimage component:
![Selection_235](https://user-images.githubusercontent.com/650571/57

[2019-05-10 09:02] RomanNikitenko commented on #198
I turned off [script](https://github.com/theia-ide/theia/blob/fe6ea99291c177a1ba9278b99c1918611f624bbf/dev-packages/electron/package.json#L31) for my assembly to get around the error

[2019-05-10 09:22] sunix commented on #198
https://github.com/eclipse/che-theia/pull/215

[2019-05-10 09:22] #198 closed

[2019-05-13 06:56] sunix commented on #192
so not only about colors ... another example of how unreadable it is ATM:

output of task:
![Selection_249](https://user-images.githubusercontent.com/650571/57601488-e7541880-755c-11e9-8c06-6571765468ed.png)

versus terminal:
![Selection_250](https://user-images.githubusercontent.com/650571/57601496-ec18cc80-755c-11e9-876f-a1075c37140e.png)

[2019-05-13 07:39] sunix opened #216 "che-theia should have autosave activated by default"
che-theia should have autosave activated by default

[2019-05-13 13:18] slemeur commented on #216
Would you enabled it for all files and all stacks?

[2019-05-13 13:19] slemeur commented on #192
Outputs from Commands or Outputs from the terminal must be exactly rendered the same way

[2019-05-13 14:30] benoitf commented on #216
@slemeur : you don't want to use a global flag ?

[2019-05-15 07:58] RomanNikitenko opened #217 "Tasks are not redirected to corresponding container"
### Description
We have remotes plugins. I turned on the typescript plugin for my workspace and tried to run 'build' and 'watch' tasks for che-theia project, but they failed.
[ProcessTaskRunner](https://github.com/theia-ide/theia/blob/d19682560698585f325a48ff05afd86bca90306d/packages/task/src/node/process/process-task-runner.ts#L58) is used for running typescript task configurations, so tasks for

[2019-05-15 08:37] benoitf commented on #213
Hello,
I would say it should be opened against theia repository

[2019-05-15 08:42] benoitf commented on #200
The remote extension was before a separate extension in a separate repository and @tolusha from your team moved it to docker folder part so it seems there is a lack of consistency in what you're describing.

AFAIK it was intentional to keep this extension part of Eclipse Che without putting it in Theia.

[2019-05-15 08:49] benoitf commented on #136
The issue has been fixed

[2019-05-15 08:49] #136 closed

[2019-05-15 11:17] evidolob opened #219 "Create UBI based images for che-theia"
We need eventually move to [UBI images ](https://www.redhat.com/en/blog/introducing-red-hat-universal-base-image)
With this issue we can start creating POC images for che-theia
Currently there are [ubi8/nodejs-10](https://access.redhat.com/containers/?tab=images&get-method=unauthenticated#/registry.access.redhat.com/ubi8/nodejs-10), so we can start POC using that image as base image.
I propose to

[2019-05-15 15:00] tsmaeder commented on #200
So I guess he moved it to the wrong directory.

What was intentional? I don't object to this being in the che-theia repo, but to it being all in the same directory and in the "dockerfiles" dir.

[2019-05-15 15:03] benoitf commented on #200
@tsmaeder intentional to have this extension in che-theia and not theia.

[2019-05-15 15:29] benoitf commented on #190
![ephemeral](https://user-images.githubusercontent.com/436777/57788188-f393cd80-7736-11e9-9c4d-2c1f42c34418.gif)

Is it ok ?

[2019-05-16 06:45] svor commented on #190
It's ok for me, thanks!

[2019-05-16 12:04] mmorhun opened #222 "Do not ask user in which container run command if it could be figured out from the workspace panel tree"
### Description
If a command doesn't declare container in which it should be run, we ask user to choose.
In case if user chooser such a command under some specific machine in workspace panel we shouldn't ask, but use the container on which it was invoked.

### Reproduction Steps
1. Create a devfile, define a command, but do not define container for it.
2. Create a workspace from the devfile and st

[2019-05-16 14:41] davidfestal commented on #117
@sunix @AndrienkoAleksandr Could you add in this issue the version of Firefox that produces the errors ?

[2019-05-16 14:42] davidfestal commented on #117
My firefox version is 60.6.2esr

[2019-05-17 02:03] monaka opened #226 "Nightly builds working?"
### Description

[code]

Too old. Should be 10.15.

https://github.com/eclipse/che-theia/blob/e7ec889793ff326e25e053667258da531f501106/dockerfiles/theia-dev/Dockerfile#L14

### Reproduction Steps

See `Description` above.

[2019-05-17 02:26] benoitf commented on #226
Hello,

We are using `:next` tag on every commit instead of nightlies now

[2019-05-17 02:43] monaka opened #227 "Can't build dockerimages."
### Description

I couldn't build docker images from the master branch.

### Reproduction Steps

[code]

**OS and version:**

**Diagnostics:**

[code]

[2019-05-17 02:51] monaka commented on #227
It looks a dependency issue. `yarn add @theia/electron && yarn` works well.

[2019-05-17 04:11] monaka commented on #227
[code]

[2019-05-17 04:58] RomanNikitenko commented on #195
Related issue https://github.com/theia-ide/theia/issues/5159

[2019-05-17 08:03] slemeur commented on #216
Ideally, As a user I'd like to be able to configure the autosave behavior in my user preferences. But then, I'd like to be able to tune that on a per workspace basis too.

Do we have a mechanism to do that? (If not, I'll create an epic)

[2019-05-17 08:06] benoitf commented on #216
I think the idea is to have autosave enabled by default but as any preference, you can customise in your IDE preferences the behaviour (the same behaviour we had before theia changed default)

[2019-05-17 08:16] #174 closed

[2019-05-17 08:29] mmorhun commented on #216
Now we have synchronization mechanism as was requested before: if user changes a Theia preference in a workspace it will update defaults and the changes will be applied to other workspaces on their restart.

[2019-05-17 08:39] slemeur commented on #216
there are certain preferences which would be nice to apply to all workspaces and there are certain other preferences which should stay specific to a single workspace.

Are you saying that, today, all preferences are spread across all user's workspaces?

[2019-05-17 08:55] monaka commented on #226
@benotif I see. If so, I think it's better to fix some `nightly` in the master branch.

https://github.com/eclipse/che-theia/blob/eb6a6dacbfb55a6c799a4e26289b7c291bc1b906/dockerfiles/build.include#L44

[2019-05-17 09:03] mmorhun commented on #216
All Theia preferences from user scope are shared between all workspaces (actually it is json file).
If user wants to override something it could be easily done via Theia workspace preferences (which has higher priority and can override value from user preferences).

[2019-05-17 09:37] #190 closed

[2019-05-17 09:38] benoitf commented on #174
Thanks for the report @makandre it has been fixed

[2019-05-18 04:23] monaka commented on #227
@benoitf Could you open the official CI script on this repository?

My builds keep failing on building e2e test image.
And I can't figure out why the official CI build aren't failed.

Just my guess but ... `skip_tests` is set  on the official CI ?

https://github.com/eclipse/che-theia/blob/7bccaab22238c6b24471751cae7a93b9f10a80dd/dockerfiles/theia-dev/build.sh#L15-L17

[2019-05-18 09:09] monaka commented on #227
Ah, this is my bad. My build script didn't pass `GITHUB_TOKEN` to Dockerfile.

I feel this is a little bit curious. I found logs like this ( `enough slots` ) but actually all builds without `GITHUB_TOKEN` were failed.

[code]

Still I've not got the root reason why `yarn` work well only with `GITHUB_TOKEN`. But anyway I cloud build my Che-theia. So I close this.

[2019-05-18 09:09] #227 closed

[2019-05-20 07:24] RomanNikitenko commented on #195
We run che tasks using machine exec, machine exec doesn't have ability to stop process.
So, first of all we need to provide ability to stop process on machine exec side and next - provide UI for stopping task.

[2019-05-20 07:46] #192 closed

[2019-05-20 09:18] slemeur commented on #195
Thanks Roman. Is that something you can handle?

On Mon, May 20, 2019 at 9:24 AM RomanNikitenko <notifications@github.com>
wrote:

--

Stévan LeMeur // Product Manager // Developer Tools // +336-87-11-27-55

[2019-05-20 09:50] sunix commented on #192
Super @AndrienkoAleksandr this is awesome :)

[2019-05-20 10:25] RomanNikitenko commented on #195
Changes for https://github.com/eclipse/che-machine-exec are required, so - unfortunately - no.
We discussed about that with @AndrienkoAleksandr  and the main problem is to get id of a running process, as far as I understand.

[2019-05-20 11:25] davidfestal commented on #117
@amisevsk could you confirm what is the precise version of your more recent Firefox, with which you don't seem to have any such problem ?

[2019-05-20 13:07] AndrienkoAleksandr opened #231 "[Minor] Use another icon for che task output widget."
### Description
It would be nice to use another icon for che task output widget. Currently we are using terminal icon, but it's a bit confuses. To better split what is the terminal, what is the task output widget we should use some another icon.

[2019-05-20 13:39] RomanNikitenko opened #233 "Can not run launch configuration"
### Reproduction Steps
1. Create workspace using Che 7 Theia dev stack
2. Turned on Node debug and Node debug (legacy) plugins
3. Start workspace, clone and build theia project
4. Change port  for 'Launch Backend' configuration 3000 ---> 3130
5. Run 'Launch Backend' configuration

[2019-05-21 00:08] monaka opened #234 "Terminal hangs frequently."
### Description

On my environment  (Azure AKS with Traefik), the terminal on Che-theia is hung up more frequently than GWT-IDE.
Probably, it will be reproductive on similar env that have gateways with connection timeout.

### Reproduction Steps

1. Open your terminal panel
2. Leave it for 5 miniutes
3. Try to type in your terminal panel. (You'll got this issue.)

**OS and version:**

ChromeOS Ver

[2019-05-21 00:11] monaka commented on #234
Just my guess for now, but the root cause will be the lack of ping/pong in `eclipse-che-theia-terminal` extension.

[2019-05-21 06:18] tolusha commented on #233
It seems OOM error, try to add
[code]

[2019-05-21 12:01] ankkumar-progress opened #235 "Add project option in che workspace using theia as IDE"
### Description
Let me take a step back here and explain what we are doing.
We are using  theia@0.3.14  and adding features for [ABL ](https://en.wikipedia.org/wiki/OpenEdge_Advanced_Business_Language) development in it.

Requirement: There should be a default project present in theia workspace.

I am using Add project option provided in che.
![image](https://user-images.githubusercontent.com/4597

[2019-05-21 14:23] AndrienkoAleksandr opened #236 "Add stub widget for terminal to display notification about network troubles and reconnection"
### Description
It would be nice to add stub widget for terminal to display notification about network troubles and reconnection.

[2019-05-21 14:34] #135 closed

[2019-05-22 06:02] #233 closed

[2019-05-22 06:58] AndrienkoAleksandr opened #238 "[Minor] Terminal: improve restore scrolled content place and selection after reconnection"
### Description
It would be nice after terminal reconnection to restore currently scrolled content  place and selection.

**OS and version:**

**Diagnostics:**

[2019-05-22 08:12] sunix commented on #216
could we just have it by default ?
what is the point not having this by default ?

[2019-05-23 11:39] evidolob commented on #216
@slemeur Can you provide your vision on this issue? Should we work on it?

[2019-05-23 12:44] ankkumar-progress commented on #235
Any update, please

[2019-05-24 06:59] akurinnoy opened #243 "Change scope where to set recommended preferences"
### Description

We need to decide what is the best scope to set preferences of a vs code extension which came from a `devfile` or workspace configuration `json`.

Options, from most preferable to least ones:

- `Default scope`, the most preferable, but
	- it's not designed to set preferences, only JSON schema which provides default values
	- let's assume that the method to set preferences in `def

[2019-05-24 07:31] vitaliy-guliy opened #244 "Display built-in plugins"
### Description

Display built-in (default) plugins in the list of installed plugins. We have to indicate somehow that plugin is default ( provided by Theia editor docker image ).
Default plugins are always present on the file system and cannot be removed.

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2019-05-24 07:32] vitaliy-guliy commented on #244
I have already did some work on this issue and included plugins in the list. But there is still a lot of work on plugin decorations.
![Screenshot from 2019-05-24 10-30-59](https://user-images.githubusercontent.com/1655894/58310380-2d3b9700-7e0f-11e9-8846-225cabf98bb8.png)

[2019-05-24 07:43] vitaliy-guliy opened #245 "Uninstall VSCode extensions"
### Description

Make it possible to uninstall VS Code extension.

VS Code extension is downloaded in dedicated '/vscode-plugins' directory.
To uninstall the plugin is enough to delete the plugin file and restart the workspace.

[2019-05-24 07:51] vitaliy-guliy opened #246 "[ Analysing ] Install plugin in specific container"
### Description

More and more questions are coming in: 'Is it possible to install a plugin and run it in a specific container?'.

The result of this issue will be conclusions
- how to install and run a plugin in a specific container ( run as remote plugin )
- how can we display an information about already running remote plugins ( provided by docker image )

[2019-05-24 08:06] slemeur commented on #246
Good questions and nice to get started on this. Why do you create this issue on che-theia and not "Che" ?

[2019-05-24 08:38] vitaliy-guliy commented on #246
@slemeur nothing special. It looks to implement the feature we have to push only to this repository.

[2019-05-24 08:44] AndrienkoAleksandr commented on #243
I am not sure, but maybe we should not play with scope. Maybe theia upstream should support some overrides providers for preferences. These overrides could have different priority - for our case it would be nice to have 'default' priority scope. Plugin apply preferences in the default scope, and if we have overrides mechanism we could change default plugin preference value to overridden value. And

[2019-05-24 08:53] slemeur commented on #216
https://github.com/theia-ide/theia/issues/4776#issuecomment-478892788

[2019-05-24 09:00] vitaliy-guliy opened #247 "Display information about the plugin in editors section"
### Description

We like a way how VS Code displays an information about selected plugin. We decided that we can do something like that.

Plugin page in the editor area should contain:
 - editor icon, name, version, description
 - buttons to Install / Uninstall / Enable or Disable the plugin
 - link on the editor homepage
 - display a content of 'readme.md' file from the editor repostory

![Screen

[2019-05-24 09:15] RomanNikitenko opened #248 "Improve way of merging tasks configurations"
### Description
We support export configurations from devfile in a launch.json and tasks.json files.
The current implementation allows to merge existed configurations from config file and configs from devfile. Configurations from devfile have higher priority than existed configs in config file.
If you already have configs in launch.json file, for example, the configs with the same label will be re

[2019-05-24 09:54] akurinnoy commented on #243
@AndrienkoAleksandr
If I understand you correctly, you propose to introduce a new preference provider which should take care of recommended preferences from a devfile and default preferences as well. It should be treated by Plugin API as the preference provider for default scope, and should provide default preferences which are already overwritten with recommended ones.

Am I right?

[2019-05-24 10:07] AndrienkoAleksandr commented on #243
Yes

[2019-05-27 09:49] akurinnoy commented on #214
this issue was fixed by https://github.com/eclipse/che-theia/pull/221

![Selection_039](https://user-images.githubusercontent.com/16220722/58410965-f3bb9380-807b-11e9-8ff1-4847f87acecd.png)

[2019-05-27 09:49] #214 closed

[2019-05-28 07:07] mmorhun commented on #235
It works on latest Che Theia.

[2019-05-28 07:17] AndrienkoAleksandr opened #251 "che-theia opens new theia workspace by server uri, which doesn't work after workspace restart"
### Description
When workspace started and I open new theia workspace:
`File` -> `Open Workspace....`, in the dialog I select project => che-theia opens workspace project by server uri, which doesn't work after workspace restart, for example:

`http://serverf5x3yhkx-theia-ide8xg-server-3100.192.168.99.100.nip.io/?uid=372574#/projects/che-theia`

Eclipse CHE master generates server endpoint for che

[2019-05-28 10:48] AndrienkoAleksandr commented on #235
+1
I think project should be cloned with help factory plugin.

[2019-05-29 05:16] monaka commented on #213
@benoitf I see. I checked the vanilla Theia and reproduced this. I close this and will open the issue there.

[2019-05-29 05:16] #213 closed

[2019-05-30 04:26] ankkumar-progress commented on #235
I think I was not able to explain my requirement.
We are not using che-theia image. instead we are building the theia image from the source code.
So my question is which theia extension  is responsible for the adding of default project in the workspace.

[2019-05-30 06:10] mmorhun commented on #235
@ankkumar-progress the factory Theia plugin is responsible for cloning and synchronization of projects in Che Theia.

[2019-05-31 09:45] #200 closed

[2019-06-05 08:58] sunix commented on #244
@vitaliy-guliy i don't think we want to display these plugins ... not critical for customers

[2019-06-05 09:05] sunix opened #260 "che plugins view should be available by default in the left side bar"
### Description
At the moment, the new che plugins view can be opened by default from the view menu list.
But it would be nice to have this view by default in the left side bar.

[2019-06-05 09:08] sunix opened #261 "che plugins view should have proper icons for each plugins/extensions"
### Description
At the moment all the plugins are shown with the eclipse che logo. We have to make the right changes (registry or picking from vscode marketplace) to display the right icons
![Selection_275](https://user-images.githubusercontent.com/650571/58944494-3e2ac780-8782-11e9-91b2-f9bed10f8c46.png)

[2019-06-05 11:06] #209 closed

[2019-06-05 11:38] benoitf commented on #244
I think it's useful to see them and to not have a way to install/uninstall them

it's like default apps on Android or Extensions in VS Code, there are there but you can't uninstall them

[2019-06-06 07:32] AndrienkoAleksandr opened #263 "Container plugin: apply context menu for server items with item: open in mini-browser"
### Description
Container plugin: apply context menu for server items with item: open in mini-browser.

[2019-06-06 07:50] #118 closed

[2019-06-07 08:09] lamgibrcom opened #265 "Build own che-theia image 0.7.0"
### Description

### Reproduction Steps
After che:theia init -c ../che-theia-init-sources.yml
the yarn command fails with :

Exit code: 128
Command: git
Arguments: ls-remote --tags --heads git://github.com/stoplightio/moxios.git
Directory: /theia-source-code
Output:
fatal: read error: Operation timed out

**OS and version:**

**Diagnostics:**

[2019-06-07 08:13] benoitf commented on #265
hello @lamgibrcom do you have some firewall issues ?

[2019-06-07 08:20] lamgibrcom commented on #265
Yeah it is ! the git prot is blocked. thanks @benoitf

[2019-06-07 08:20] #265 closed

[2019-06-11 09:04] svor opened #272 "Push an image for PHP remote plugins"
### Description
The image[1] for PHP remote plugins should be published

[1]-https://github.com/eclipse/che-theia/blob/master/dockerfiles/remote-plugin-php7/Dockerfile

[2019-06-12 06:39] #272 closed

[2019-06-12 16:32] azatsarynnyy opened #277 "Icons aren't displayed on a contributed view container"
If Theia Plugin contributes a view container with the icons they are not displayed anymore.

For example, [Kubernetes Tooling Che Plugin](https://github.com/eclipse/che-plugin-registry/tree/master/v3/plugins/ms-kubernetes-tools/vscode-kubernetes-tools) contributes view container that was looking like that
![57142979-7f683a00-6dc6-11e9-95d9-1fa0e436ff90](https://user-images.githubusercontent.com/16

[2019-06-12 16:50] sunix commented on #277
anything in the browser log ?

[2019-06-12 17:08] azatsarynnyy commented on #277
![image](https://user-images.githubusercontent.com/1636395/59371326-65b6fc80-8d4d-11e9-88a6-9af61beaa20f.png)

it fails to load an icon for displaying on activity bar

The link is the following
http://server46zcwvmn-theia-ideq14-server-3100.192.168.99.251.nip.io/hostedPlugin/ms_kubernetes_tools_vscode_kubernetes_tools/images%2Flogo.svg

If VS Code extension installed in a Theia container, the link

[2019-06-13 06:33] mmorhun commented on #277
@azatsarynnyy isn't it issue for Theia?

[2019-06-13 07:05] azatsarynnyy commented on #277
@mmorhun it works well in Theia

[2019-06-14 06:24] mmorhun commented on #219
To build `theia` image we need first build `theia-dev` because it is used for building of Che Theia from sources.

To build `theia-dev` based on UBI (nodejs-10) we lack at least two packages:
 - `jq` which is used for github quota analyzing
 - `libxkbfile-devel` - used to be able to build electron part of Theia

I've tried to leave `theia-dev` image based on Alpine node, and rework runtime `theia`

[2019-06-14 09:03] sunix commented on #101
It happens again :(

[2019-06-14 17:51] sunix opened #280 "che7 yaml plugin is failing to start"
### Description
starting a workspace from devfile using the yaml plugin, it is failling to start the yaml plugin with the error
[code]
![Selection_299](https://user-images.githubusercontent.com/650571/59528090-9f1e7200-8edd-11e9-9adf-78e3df7381e3.png)

### Reproduction Steps
Start with chectl the devfile:

[code]

**OS and version:**
Minikube single-user with chectl (helm)

[2019-06-15 01:59] #226 closed

[2019-06-16 02:42] monaka opened #281 "Exception on the non-root environment."
### Description

It looks the-theia can't access `/proc/net/tcp6` in the instance running as non-root.

### Reproduction Steps

1. Run as the non-root instance
2. Start workspace
3. Check logs from `che-theia` container.

**OS and version:**

7.0.0-RC-2.0-SNAPSHOT

**Diagnostics:**

[code]

[2019-06-16 11:10] monaka opened #283 "Build failed sporadically"
### Description

I got build failures on my CI server. This is reproduced sporadically. In some cases, failed. But it may succeeded even if same base image and same git HEAD commit.

The example of failure is [like this](https://dev.azure.com/pizzafactory/camino/_build/results?buildId=840).

This issue is not reported to `node-gyp` but I found the similar issue on [the another project](https://git

[2019-06-16 11:12] monaka commented on #283
And I've already found the workaround. I'm testing it on my CI.

[2019-06-17 09:24] sunix opened #286 "My workspace view: if available, show the che commands/task that are available in a plugin side car"
### Description
If the devfile has commands defined for a plugin side car, it make sense to display them by default in the my workspace view

either:
- expand `plugins` if some che commands (task) available inside a plugin sidecar
- display a plugin side car with checommands ... inside the user runtimes

![Selection_301](https://user-images.githubusercontent.com/650571/59593554-715e4680-90f2-11e9-

[2019-06-18 05:48] monaka commented on #280
Just guess but https://github.com/eclipse/che-plugin-registry/pull/156 is related.
Theia itself is enough small within 512MiB. But it will spawn processes via plugins.

[2019-06-18 11:35] sunix commented on #280
not sure as the plugin is running inside the theia container: https://github.com/eclipse/che/issues/13555

[2019-06-19 11:10] mmorhun opened #296 "Che Plugins panel is broken on minishift"
#### Description
`Che Plugins` panel always shows `Your registry is invalid` message, even for default Che plugins registry.
![registry-invalid](https://user-images.githubusercontent.com/15607393/59760754-be315100-929b-11e9-857b-9731cdb708a1.png)

From pod logs:
[code]

#### Reproduction Steps
Create a workspace from a devfile, open `Che Plugins` panel

[2019-06-19 11:13] vitaliy-guliy commented on #296
@mmorhun could you investigate it a bit and determine which plugin registry URI described in workspace settings?

[2019-06-19 11:17] vitaliy-guliy commented on #296
@mmorhun does it appear on single or multiuser instance?
It looks there is changes in plugin registry setting about which we are not informed.

[2019-06-19 11:18] mmorhun commented on #296
@vitaliy-guliy I tested on single user, minishift. Default registry is in use.
![reg2](https://user-images.githubusercontent.com/15607393/59761303-1fa5ef80-929d-11e9-8aa1-088f4861a554.png)

[2019-06-19 11:22] vitaliy-guliy commented on #296
@mmorhun It looks V3 plugin registry is broken.
[code]
it displays the valid JSON but when I try to open the first plugin meta yaml I get nothing.
[code]

[2019-06-19 11:22] vitaliy-guliy commented on #296
@skabashnyuk @sleshchenko

[2019-06-19 11:34] skabashnyuk commented on #296
I get valid yaml
[code]

[2019-06-19 11:45] mmorhun commented on #296
@vitaliy-guliy I can to get `meta.yaml`. Seems you mistyped version.

[2019-06-19 12:45] vitaliy-guliy commented on #296
@mmorhun  Yes, indeed. Let me debug backend a bit.

[2019-06-19 14:25] #151 closed

[2019-06-20 07:28] monaka commented on #280
Referring to the master branch of origin, the language server is spawn in Theia.

https://github.com/redhat-developer/vscode-yaml/blob/5370d1f3dce905b597c77da692191c7b92b4be61/src/extension.ts#L29-L61

AFAIK, the plugin author can implement to separate the language server from his/her theia plugin.
(I saw such code in the example of Sprotty before.)
But it looks vscode-yaml doesn't.

[2019-06-21 13:13] mmorhun opened #299 "Errors in Che Theia container log when start another instance"
### Description

When start another Che Theia instance, a lot of error logs appears in the Che Theia IDE container:

[code]
The error is repeated many times.

### Reproduction Steps

1. Create Che Theia dev workspace from the following devfile:
<details>
<summary>Devfile</summary>

[code]
</details>

2. Init and build Che Theia
3. Keep at least one terminal open in main Theia
4. Start another inst

[2019-06-24 03:27] monaka opened #302 "Can't build eclipse/che-remote-plugin-kubernetes-tooling-1.0.0"
### Description

Can't build eclipse/che-remote-plugin-kubernetes-tooling-1.0.0 as the tag was removed from the base repository.

![Screenshot 2019-06-24 at 12 25 52](https://user-images.githubusercontent.com/101795/59989747-72a3ec00-967b-11e9-8069-81ac686f518b.png)

### Reproduction Steps

[code]

**OS and version:**

master branch 620f233455c2115120a1af6e4c45743d137489a4

**Diagnostics:**

[code

[2019-06-24 05:41] monaka commented on #283
memo: the similar issue was reported before. https://github.com/theia-ide/theia/pull/5055

[2019-06-26 03:29] monaka opened #306 "Can't build Theia on Alpine Linux"
### Description

The master branch after merged https://github.com/theia-ide/theia/pull/5055 won't be built on Alpine Linux.
Because Replaced Ffmpeg depends on Glibc. (see also: logs below)
It isn't caused by che-theia. But it should be managed to fix by Che side, IMO.

### Reproduction Steps

[code]

**OS and version:**

**Diagnostics:**

[code]

[2019-06-27 02:43] monaka commented on #306
I close this as fixed via theia-ide/theia#5587

[2019-06-27 02:43] #306 closed

[2019-06-27 11:50] sunix commented on #101
maybe fixed somehow

[2019-06-28 08:52] monaka opened #313 "Update Theia version to 0.8.0"
### Description

As it was released. https://github.com/theia-ide/theia/commit/007f41ae937e3884bfdf57e2f41581b490217294

[2019-07-01 03:33] monaka commented on #281
I misunderstood about this issue. Indeed there have some issues related on root/non-root environment.
But this `/proc/net/tcp6` issue is an individual.

In some environments (at least Azure AKS), IPv6 is disable and `/proc/net/tcp6` isn't created.

[code]

[2019-07-01 09:14] tsmaeder commented on #280
@monaka if we are really talking about a che 7 plugin, the vscode extension will be run inside a separate sidecar container, so the memory limitations on the theia container will have no impact.
@sunix the default memory settings for the yaml plugin has been updated recently. Can you verify this is fixed now?

[2019-07-01 09:16] tsmaeder opened #317 "Build has no "clean" target"
I can build using "yarn" in the top level dir. But once built, I cannot get rid of build results anymore. We should add a "clean" target to the build.

[2019-07-02 08:15] monaka opened #320 "`root ERROR Could not start contribution` on k8s/multiuser environment"
### Description

After fixed #281, my che-theia logs  `root ERROR Could not start contribution` exception.
It looks it fails to get the access token.
I guess it will be reproduced on the multi-user env.

### Reproduction Steps

- Just open the workspace.
- Watch logs on the Web browser

**OS and version:**

Che 7.0.0-SNAPSHOT (configured as the multi-user)
Che-theia HEAD of the master branch with

[2019-07-02 11:09] vitaliy-guliy commented on #296
I have just tested on minishift. It works fine.

[2019-07-02 11:46] slemeur commented on #296
I have the exact same issue, but on minikube using chectl.

[2019-07-02 11:47] vitaliy-guliy commented on #296
@slemeur when did you test it the last time?

[2019-07-02 11:50] slemeur commented on #296
link to https://github.com/eclipse/che/issues/13669

[2019-07-02 11:50] slemeur commented on #296
few minutes ago

[2019-07-02 12:05] vitaliy-guliy commented on #296
Can you show logs of Theia backend?

[2019-07-02 12:11] slemeur commented on #296
where is the documentation on how I can get the logs of Theia backend?

[2019-07-02 12:31] vitaliy-guliy commented on #296
I recorded a video demonstrating how I do this https://youtu.be/ZRHwo3694-w

[2019-07-02 13:17] vitaliy-guliy commented on #296
@mmorhun could you please show the backend logs?

[2019-07-03 09:33] slemeur commented on #296
![Capture d’écran 2019-07-03 à 11 32 12](https://user-images.githubusercontent.com/1636769/60581027-64925180-9d86-11e9-9380-6aef88afbdb1.png)

I'm guessing that is not very helpful

[2019-07-03 09:42] vitaliy-guliy commented on #296
Yes. Could you show logs from other container, not from 'theia-ide*'. I demonstrated it in my screencast.

[2019-07-03 09:47] vitaliy-guliy commented on #296
@slemeur  Could you explain a bit how you set up you Che? I see you are using chectl. How does an installation command look?
Could you add following as custom registry just to check?
https://raw.githubusercontent.com/vitaliy-guliy/che-theia-plugin-registry/master/plugins/plugins.json

[2019-07-03 09:48] slemeur commented on #296
I don't have that
![Capture d’écran 2019-07-03 à 11 46 00](https://user-images.githubusercontent.com/1636769/60581982-36157600-9d88-11e9-81fb-1d63d0ecccdc.png)

Does that mean that the panel uses a container?

[2019-07-03 09:49] slemeur commented on #296
`chectl server:start`

[2019-07-03 09:50] vitaliy-guliy commented on #296
Are there corresponding errors in your browser console?

[2019-07-03 09:53] slemeur commented on #296
@vitaliy-guliy :
- How are you deploying Che ?
- How this is different from a default installation a user would do on K8S using chectl ?

I'm asking, because it seems we are multiple to get the errors, and you should start by trying to reproduce the issue.

[2019-07-03 10:01] vitaliy-guliy commented on #296
I tried to reproduced it yesterday but got nothing. Have tested on `minikube` and `minishift`.
A command to install is equal to yours.
 - `chectl server:start` to install on `minikube`
 - `chectl server:start --platform=minishift` for `minishift`.

[2019-07-03 10:03] vitaliy-guliy commented on #296
I just forget to say that after starting I stopped my minicube/minishift, increased memory for virtual machine to 10GB and then started again.

[2019-07-03 11:31] slemeur commented on #296
When I added the custom registry you gave, I still have something empty. And still the same error in the outputs of theia-ide container.

Is it supposed to get a custom container with the plugin?

[2019-07-03 12:10] vitaliy-guliy commented on #296
No, no special container is needed.

[2019-07-03 12:43] vinokurig opened #325 "SSH plugin doesn't show generated keys"
### Description

### Reproduction Steps

1. F1 -> Ssh: Generate key pair...
2. Input `github.com`
3. Chose `VCS`
4. Press the `View` button when the notification asks to show the key
Expected: The key must be viewed in the editor.
Actual: Nothing happens

**OS and version:**

**Diagnostics:**

[2019-07-03 12:43] vitaliy-guliy commented on #296
@slemeur Another way to test is to build Theia from sources and launch. You will be able to see the error in the terminal.

[2019-07-03 15:34] sunix commented on #280
fixed

[2019-07-03 15:34] #280 closed

[2019-07-03 23:32] monaka commented on #280
@tsmaeder Thank you for your comment. I see I got misunderstanding after inspecting my workspace containers. And I checked an workspace from the devfile.yaml above boots up fine.

[2019-07-04 09:11] sunix commented on #235
@ankkumar-progress I suggest you take che-theia and add your extensions and plugins. This could be done by just customizing that file:
https://github.com/eclipse/che-theia/blob/master/che-theia-init-sources.yml

[2019-07-04 14:01] #120 closed

[2019-07-09 07:01] xinsuinizhuan opened #335 "how to run che-theia?"
I run theia, and run che,but how to run che-theia by source?

[2019-07-09 09:36] olexii4 commented on #335
It is a long way. After all changes, the target image should be built and using for CHE.
Look into **che-theia/dockerfiles**.
For example:

[How to Build Theia Image](https://github.com/eclipse/che-theia/blob/master/dockerfiles/theia/README.md)

Theia is an editor inside CHE. One of the editors can be added from the repository(official or custom) or by a link in the workspace defile.

The simplest

[2019-07-09 09:40] benoitf commented on #335
issues need to be created at https://github.com/eclipse/che/issues

[2019-07-09 09:40] #335 closed

[2020-03-06 18:13] va1erian opened #658 "Can't build che-theia from scratch - fails on @eclipse-che/github-auth-plugin"
Hello,

I'm trying to build a patched version of che-theia to diagnose an internal deployment of Che 7 that doesn't work properly on our env.

When running yarn I'm getting the following error:
[code]

Is there something I'm doing wrong? My understanding was that running build.sh was sufficient once the prerequisites are installed.

[2020-03-07 12:17] RomanNikitenko commented on #658
@va1erian
Please file your issue on the main Eclipse Che repository at https://github.com/eclipse/che/issues

thank you!

[2020-03-07 16:18] #658 closed

[2020-08-05 19:38] matthewfisch opened #825 "Volume for Theia data directory missing (plugin settings permanence)"
As described in the original issues related to PR https://github.com/eclipse/che-theia/pull/191 , a volume mount was required to enable state permanence in Theia plugin settings (allows plugins to store their settings, such as Atlascode's session cookies).

This was fixed merged into master, but was subsequently lost in a regression.

Here's the commit that was regressed: https://github.com/eclips

[2020-08-06 04:30] RomanNikitenko commented on #825
@matthewfisch
Please use the main [Eclipse Che repository](https://github.com/eclipse/che/issues) for creating issues.

Thanks in advance!

[2020-11-24 05:40] priyamariarao opened #933 "Custom extension that contributes to Theia menu no working in che"
I have created a custom Theia extension by following the steps provided in
https://theia-ide.org/docs/authoring_extensions/
the extension works fine in the browser-app and the Theia menu is modified as expected. I then package the extension as a Vsix and try to add it che-theia instance. the extension shows that its installed but it does not appear to work.
How can we hide Theia menu items from wi

[2020-11-24 07:59] RomanNikitenko commented on #933
@priyamariarao
Hello!
`che-theia` issues are tracked at the main Eclipse Che repository at https://github.com/eclipse/che/issues
So, please use https://github.com/eclipse/che/issues for `che-theia` issues.

[2021-03-03 19:34] vinayb21 opened #1013 "Issues needs to be filed on the main Eclipse Che repository"
**Bug Description:**
When Theia is loaded, I have observed that there is a long freeze before actually fetching catalog.json file

**Steps to Reproduce:**
- Create a Theia IDE using che-theia image and respective che plugin registry
- Check the network tab (Chrome or firefox)
- There is a big delay before the actual fetching of catalog.json

[2021-10-28 13:12] guydog28 opened #1240 "Kubernetes Commands are not displayed, only docker containers."
Bug Description:

components of type: kubernetes do not display commands, while components of type: dockerimage do.  It used to work, but it has been a problem since somwhere in the 7.teens.

Current version tested: 7.38

To reproduce:
1. create a component of type dockerimage
2. create a command associated with dockerimage in step 1
3. confirm that command shows under the container in theia
4. cr

[2021-11-01 12:51] azatsarynnyy commented on #1240
Hello @guydog28
Thank you for your request!
Could you please provide more information about your problem? If you think there's a bug - try to follow a [bug report template](https://github.com/eclipse/che/issues/new/choose). Thanks!

[2021-11-01 19:02] guydog28 commented on #1240
@azatsarynnyy I have updated the ticket.  Sorry I created this bug from the line of code, so it didn't use the form.

[2021-11-02 07:35] benoitf commented on #1240
The issue should be created at https://github.com/eclipse/che/issues

[2021-11-02 07:35] #1240 closed